# Build results
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# MonoDevelop
*.pidb
*.booproj

# Visual Studio files
.vs/
.vscode/

# Rider files
.idea/

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Logs
*.log

# Others
*.cache
*.DS_Store
*.pdb
*.mdb

# Unity specific
Library/
Temp/
Logs/
MemoryCaptures/
obj/
Build/
Builds/
UserSettings/
